node_modules
data/sources/*
!data/sources/.gitkeep
data/music/*
!data/music/.gitkeep
data/config.json
data/db.sqlite*
data/logs/*
!data/logs/.gitkeep
.git
.idea
.vscode
*.log
.env
test-*.js
dev_debug_script/
scripts/
